
.container {
  margin: 0;
  padding: 0;
}

.login-card {
  background-color: #6C6C6C;
  margin: auto;
  padding: 20px;

}


.login-card input {
  border-radius: 4px;
}

.login-card h1 {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 49px;
  text-align: center;
  letter-spacing: -0.015em;
  color: #FFFFFF;
}
 
@media (min-width: 320px) { 

  .login-card {
    width: 300px;
    /*padding: 20px;*/
    /*margin: 10px;*/
    /*margin: auto;*/
  }

  .login-card h1 {
    margin-top: 29px;
    margin-bottom: 49px;
  }

  .login-submit {
    margin-top: 50px;
    margin-bottom: 50px;
  }
}

@media (min-width: 576px) {
  .login-card {
    width: 479px;
    height: 493px;
    /*margin-top: 40px;*/
    margin-left: 40px;
    padding: 59px 44px 0px 51px;

    border-radius: 4px;
  }

  .login-card h1 {
    width: 384px;
    height: 67px;
    /*margin-bottom: 35px;*/
    font-size: 48px;

    margin-top: 19px;
    margin-bottom: 39px;
    
  }

  .login-submit {
    margin-top: 74px;

  }

}

@media (min-width: 768px) {
  .login-card {
    margin-left: 135px;
  }
}

@media (min-width: 1200px) {

  .container {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    
  }

  .login-card {
    margin-left: 100px;
  }
  
 
}

@media (min-width: 1400px) {

  .container {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    
  }

  .login-card {
    margin-left: 50px;
    margin-top: 50px;
  }
  
 
}

